# Keep generated JavaScript/build output out of language statistics.
lib/**/* linguist-generated
shared/lib/**/* linguist-generated
app/lib/**/* linguist-generated
app/dist/**/* linguist-generated
node_modules/**/* linguist-vendored
.github/**/* linguist-vendored
icon-scripts/**/* linguist-vendored
